<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9KQDLX8TD9UTBIJ4iv44Y3j5RQVQQg5A</string>
	<key>GCM_SENDER_ID</key>
	<string>1024849414458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.estacionaudec</string>
	<key>PROJECT_ID</key>
	<string>estaciona-udec</string>
	<key>STORAGE_BUCKET</key>
	<string>estaciona-udec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024849414458:ios:4d45008c15b8afe7342803</string>
</dict>
</plist>